#year {
    position: fixed;
    left: 80px;
    top: 5px;
    width: 100px;
}

#YearLabel {
    position: fixed;
    top: 8px;
    left: 5px;
    width: 20px;
    text-align: left;
}

#sem {
    position: fixed;
    top: 30px;
    left: 80px;
    width: 100px;
}

#SemesterLabel {
    position: fixed;
    top: 32px;
    left: 5px;
    width: 20px;
    text-align: left;
}

#FileSelector {
    position: fixed;
    top: 55px;
    left: 80px;
    width: 104px;
}

#FileLabel {
    position: fixed;
    top: 55px;
    left: 5px;
    width: 20px;
    text-align: left;
}


#MergeButton {
    position: fixed;
    top: 5px;
    left: 200px;
    width: 100px;
    height: 70px;
}

#SplitButtonsLabel,
#SplitButtonH,
#SplitButtonV {
    position: fixed;
    left: 310px;
    width: 150px;
    height: 20px;
}

#SplitButtonsLabel {
    top: 5px;
    text-align: center;
}

#SplitButtonH {
    top: 30px;
}

#SplitButtonV {
    top: 55px;
}

#helpertable {
    position: fixed;
    top: 5px;
    width: 250px;
    left: 470px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}

.HelperTableCell {
    position: fixed;
    top: 2px;
    width: 250px;
    left: 610px;
    border: 1px solid black;
}

#SaveForm {
    position: fixed;
    top: 395px;
    right: 5px;
    width: 250px
}

.LessonTable {
    height: 100%;
    width: 100%;
}

th.lessonnum {
    width: 2%;
    vertical-align: bottom;
}

td.lesson {
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#DownloadButton {
    position: fixed;
    left: 730px;
    top: 52px;
    width: 285px;
    z-index: 1;
}

#SaveButton {
    position: fixed;
    top: 2px;
    left: 730px;
    width: 120px;
}

#SaveFilename {
    position: fixed;
    top: 2px;
    left: 860px;
    width: 150px;
}

#NewButton {
    position: fixed;
    top: 27px;
    left: 730px;
    width: 285px
}


#DownloadForm {
    position: fixed;
    top: 395px;
    right: 5px;
    width: 250px
}

.timetablerow {
    width: 74%;
    border-collapse: collapse;
    left: 0.3%;
    position: relative;
    table-layout: fixed;
}

#StackTableDiv {
    position: fixed;
    top: 88px;
    bottom: 0px;
    width: 24%;
    right: 0.8%;
    overflow-y: auto;
    z-index: 1;
}


#stacktable {
    width: 100%;
    border-collapse: collapse;
}

.drag {
    border: 1px dashed blue;
    background-color: #eeeeff;
    border-radius: 8px; /* Opera, Chrome */
}

.ClearDayButton,
.DeleteButton {
    width: 20px;
    height: 20px;
    background-image: url(/images/cross.png);
    background-position: center center;
    border: solid 1px #848388;
    border-radius: 4px; /* Opera, Chrome */
}

#uppanel {
    top: -1px;
    left: -1px;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #dfffdf;
    border: solid 1px #848388;
    z-index: 1;
}

.empty {
    top: -1px;
    left: -1px;
    height: 80px;
    width: 100%;
}

div.name {
}

div.prof {
    height: 20px;
}

div.loc {
    height: 20px;
}

div.fixed {
    background-color: #0bffce;
}

#courseIdsLabel {
    position: fixed;
    top: 8px;
    height: 10px;
    left: 1030px;
    text-align: left;
}

#courseIds {
    position: fixed;
    top: 32px;
    left: 1030px;
    width: 400px;
    text-align: left;
}
